<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sport.css">
    <title>Events</title>
</head>

<body>

    <div class="content">
        <div class="events">
            <h1 class="event-category">
                Sports

            </h1>
            <div class="event-list">
                <a data-tab-target="#football" href="#football" class="event-btn">Football 5s</a>
                <a data-tab-target="#chess" href="#chess" class="event-btn">Shah-Maat Chess</a>
                <a data-tab-target="#badminton" href="#badminton" class="event-btn">Badminton</a>
                <a data-tab-target="#cricket" href="#cricket" class="event-btn">Box Cricket</a>

            </div>
            <div class="event-drop">

                <a data-tab-target="#football" href="#football" class="event-btn">Football 5s</a>
                <a data-tab-target="#chess" href="#chess" class="event-btn">Shah-Maat Chess</a>
                <a data-tab-target="#badminton" href="#badminton" class="event-btn">Badminton</a>
                <a data-tab-target="#cricket" href="#cricket" class="event-btn">Box Cricket</a>


            </div>
        </div>
        <div class="event-detail">

            <div id="football" data-tab-content class="active">
                <h2 class="event-name">FOOTBALL 5s</h2>
                <br>
                <h3 class="subs">lorem:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, excepturi aperiam. Reprehenderit, pariatur odio ut temporibus, assumenda dolorum excepturi perferendis suscipit a ad id tempore impedit. Aliquid quidem modi quos quaerat
                    temporibus facilis assumenda error. Harum porro quidem velit inventore eum atque minima repellat tempore culpa laborum necessitatibus maiores voluptatum quam aut ipsam dolores distinctio, facilis quisquam quae impedit. Quam repellendus
                    sed repudiandae eaque obcaecati inventore, optio amet reprehenderit corrupti quis soluta cum! Commodi inventore non dolore modi quaerat corrupti.</p>
                <hr>
                <h3 class="subs">lorem:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, excepturi aperiam. Reprehenderit, pariatur odio ut temporibus, assumenda dolorum excepturi perferendis suscipit a ad id tempore impedit. Aliquid quidem modi quos quaerat
                    temporibus facilis assumenda error. Harum porro quidem velit inventore eum atque minima repellat tempore culpa laborum necessitatibus maiores voluptatum quam aut ipsam dolores distinctio, facilis quisquam quae impedit. Quam repellendus
                    sed repudiandae eaque obcaecati inventore, optio amet reprehenderit corrupti quis soluta cum! Commodi inventore non dolore modi quaerat corrupti.</p>
                <hr>
                <h3 class="subs">lorem:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, excepturi aperiam. Reprehenderit, pariatur odio ut temporibus, assumenda dolorum excepturi perferendis suscipit a ad id tempore impedit. Aliquid quidem modi quos quaerat
                    temporibus facilis assumenda error. Harum porro quidem velit inventore eum atque minima repellat tempore culpa laborum necessitatibus maiores voluptatum quam aut ipsam dolores distinctio, facilis quisquam quae impedit. Quam repellendus
                    sed repudiandae eaque obcaecati inventore, optio amet reprehenderit corrupti quis soluta cum! Commodi inventore non dolore modi quaerat corrupti.</p>
                <hr>
            </div>
            <div id="badminton" data-tab-content>
                <h2 class="event-name">BADMINTON</h2>
                <br>
                <h3 class="subs">lorem:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, excepturi aperiam. Reprehenderit, pariatur odio ut temporibus, assumenda dolorum excepturi perferendis suscipit a ad id tempore impedit. Aliquid quidem modi quos quaerat
                    temporibus facilis assumenda error. Harum porro quidem velit inventore eum atque minima repellat tempore culpa laborum necessitatibus maiores voluptatum quam aut ipsam dolores distinctio, facilis quisquam quae impedit. Quam repellendus
                    sed repudiandae eaque obcaecati inventore, optio amet reprehenderit corrupti quis soluta cum! Commodi inventore non dolore modi quaerat corrupti.</p>
                <hr>
                <h3 class="subs">lorem:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, excepturi aperiam. Reprehenderit, pariatur odio ut temporibus, assumenda dolorum excepturi perferendis suscipit a ad id tempore impedit. Aliquid quidem modi quos quaerat
                    temporibus facilis assumenda error. Harum porro quidem velit inventore eum atque minima repellat tempore culpa laborum necessitatibus maiores voluptatum quam aut ipsam dolores distinctio, facilis quisquam quae impedit. Quam repellendus
                    sed repudiandae eaque obcaecati inventore, optio amet reprehenderit corrupti quis soluta cum! Commodi inventore non dolore modi quaerat corrupti.</p>
                <hr>
                <h3 class="subs">lorem:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, excepturi aperiam. Reprehenderit, pariatur odio ut temporibus, assumenda dolorum excepturi perferendis suscipit a ad id tempore impedit. Aliquid quidem modi quos quaerat
                    temporibus facilis assumenda error. Harum porro quidem velit inventore eum atque minima repellat tempore culpa laborum necessitatibus maiores voluptatum quam aut ipsam dolores distinctio, facilis quisquam quae impedit. Quam repellendus
                    sed repudiandae eaque obcaecati inventore, optio amet reprehenderit corrupti quis soluta cum! Commodi inventore non dolore modi quaerat corrupti.</p>
                <hr>
            </div>
            <div id="chess" data-tab-content>
                <h2 class="event-name">SHAH-MAAT CHESS</h2>
                <br>
                <h3 class="subs">lorem:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, excepturi aperiam. Reprehenderit, pariatur odio ut temporibus, assumenda dolorum excepturi perferendis suscipit a ad id tempore impedit. Aliquid quidem modi quos quaerat
                    temporibus facilis assumenda error. Harum porro quidem velit inventore eum atque minima repellat tempore culpa laborum necessitatibus maiores voluptatum quam aut ipsam dolores distinctio, facilis quisquam quae impedit. Quam repellendus
                    sed repudiandae eaque obcaecati inventore, optio amet reprehenderit corrupti quis soluta cum! Commodi inventore non dolore modi quaerat corrupti.</p>
                <hr>
                <h3 class="subs">lorem:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, excepturi aperiam. Reprehenderit, pariatur odio ut temporibus, assumenda dolorum excepturi perferendis suscipit a ad id tempore impedit. Aliquid quidem modi quos quaerat
                    temporibus facilis assumenda error. Harum porro quidem velit inventore eum atque minima repellat tempore culpa laborum necessitatibus maiores voluptatum quam aut ipsam dolores distinctio, facilis quisquam quae impedit. Quam repellendus
                    sed repudiandae eaque obcaecati inventore, optio amet reprehenderit corrupti quis soluta cum! Commodi inventore non dolore modi quaerat corrupti.</p>
                <hr>
                <h3 class="subs">lorem:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, excepturi aperiam. Reprehenderit, pariatur odio ut temporibus, assumenda dolorum excepturi perferendis suscipit a ad id tempore impedit. Aliquid quidem modi quos quaerat
                    temporibus facilis assumenda error. Harum porro quidem velit inventore eum atque minima repellat tempore culpa laborum necessitatibus maiores voluptatum quam aut ipsam dolores distinctio, facilis quisquam quae impedit. Quam repellendus
                    sed repudiandae eaque obcaecati inventore, optio amet reprehenderit corrupti quis soluta cum! Commodi inventore non dolore modi quaerat corrupti.</p>
                <hr>
            </div>
            <div id="cricket" data-tab-content>
                <h2 class="event-name">BOX CRICKET</h2>
                <br>
                <h3 class="subs">lorem:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, excepturi aperiam. Reprehenderit, pariatur odio ut temporibus, assumenda dolorum excepturi perferendis suscipit a ad id tempore impedit. Aliquid quidem modi quos quaerat
                    temporibus facilis assumenda error. Harum porro quidem velit inventore eum atque minima repellat tempore culpa laborum necessitatibus maiores voluptatum quam aut ipsam dolores distinctio, facilis quisquam quae impedit. Quam repellendus
                    sed repudiandae eaque obcaecati inventore, optio amet reprehenderit corrupti quis soluta cum! Commodi inventore non dolore modi quaerat corrupti.</p>
                <hr>
                <h3 class="subs">lorem:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, excepturi aperiam. Reprehenderit, pariatur odio ut temporibus, assumenda dolorum excepturi perferendis suscipit a ad id tempore impedit. Aliquid quidem modi quos quaerat
                    temporibus facilis assumenda error. Harum porro quidem velit inventore eum atque minima repellat tempore culpa laborum necessitatibus maiores voluptatum quam aut ipsam dolores distinctio, facilis quisquam quae impedit. Quam repellendus
                    sed repudiandae eaque obcaecati inventore, optio amet reprehenderit corrupti quis soluta cum! Commodi inventore non dolore modi quaerat corrupti.</p>
                <hr>
                <h3 class="subs">lorem:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, excepturi aperiam. Reprehenderit, pariatur odio ut temporibus, assumenda dolorum excepturi perferendis suscipit a ad id tempore impedit. Aliquid quidem modi quos quaerat
                    temporibus facilis assumenda error. Harum porro quidem velit inventore eum atque minima repellat tempore culpa laborum necessitatibus maiores voluptatum quam aut ipsam dolores distinctio, facilis quisquam quae impedit. Quam repellendus
                    sed repudiandae eaque obcaecati inventore, optio amet reprehenderit corrupti quis soluta cum! Commodi inventore non dolore modi quaerat corrupti.</p>
                <hr>
            </div>

        </div>
    </div>

    <script src="js/sports.js"></script>
</body>

</html>