<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/workshops.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Cormorant+Garamond:ital,wght@1,300;1,400;1,600;1,700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Inter:wght@100;400;700;800;900&family=Lato:ital,wght@0,100;1,100&family=Raleway:ital,wght@0,400;0,800;1,300;1,400&family=Work+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap" rel="stylesheet">
</head>

<body>
    <div class="cursor">
        <p class="tease">WATCH TEASER</p>
    </div>
        <div class="intro">
            <nav>
                <div class="ham">
                    <div class="first"></div>
                    <div class="second"></div>
                    <div class="third"></div>
                </div>
                <div class="logo">
                    <a href="/"><img class="logoimg" src="/imgs/Paradox-Logo-V2-1280px b&w.png" alt="logo"></a>
                </div>
                <div class="cross">
                    <div class="cfirst"></div>
                    <div class="csecond"></div>
                </div>
            </nav>
            <div id="leftbox">
                <div class="menu">
                    <a class="zoop" href="/">
                        <div class="home">HOME</div>
                    </a>
                    <a class="zoop" href="/events/culturals/beyond-the-words">
                        <div class="about">EVENTS</div>
                    </a>
                    <a class="zoop" href="/sessions-workshops">
                        <div class="contact">SESSION AND WORKSHOPS</div>
                    </a>
                    <a class="zoop" href="/sponsors">
                        <div class="life">SPONSORS</div>
                    </a>
                </div>
            </div>
            <div id="rightbox"></div>
            <div id="liteleftbox"></div>
            <div id="literightbox"></div>
        </div>