<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paradox'22</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/timeline.css">
    <link rel="stylesheet" href="/css/faq.css">
    <link rel="shortcut icon" href="/imgs/Paradox-Logo-V2-1280px b&w.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/ann.css">
    <link rel="stylesheet" href="/css/our-team.css">
    <link rel="stylesheet" href="/css/workshops.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alata&family=Archivo+Black&family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Cormorant+Garamond:ital,wght@1,300;1,400;1,600;1,700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Inter:wght@100;400;700;800;900&family=Josefin+Slab:wght@100;200;300;400;600;700&family=Lato:ital,wght@0,100;1,100&family=Montserrat:wght@100;300;400&family=Raleway:ital,wght@0,400;0,800;1,300;1,400&family=Work+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="cursor">
        <p class="tease">WATCH TEASER</p>
    </div>
    <div class="intro">
        <nav class="navibar">
            <div class="logo">
                <a class="cont-tonc" href="/"><img class="logoimg" src="/imgs/Paradox-Logo-V2-1280px b&w.png" alt="logo"> <span class="header-para">PARADOX'22</span></a>
            </div>
            <div class="ham">
                <div class="first"></div>
                <div class="second"></div>
                <div class="third"></div>
            </div>
            
        </nav>
        <div class="cross">
            <div class="cfirst"></div>
            <div class="csecond"></div>
        </div>
        <div id="leftbox">
            <div class="menu">
                <a href="/">
                    <div class="home">HOME</div>
                </a>
                <a href="/events">
                    <div class="about">EVENTS</div>
                </a>
                <a href="/sessions-workshops">
                    <div class="contact">WORKSHOPS</div>
                </a>
                <a href="/sponsors">
                    <div class="life">SPONSORS</div>
                </a>
            </div>
            <div class="menu-small">
                <a href="/exclusive">
                    <div class="faq">ANNOUNCEMENTS</div>
                </a>
                <a href="/our-team">
                    <div class="our-team">THE TEAM</div>
                </a>
                <a href="/about">
                    <div class="abt">ABOUT</div>
                </a>
                <a href="/timeline">
                    <div class="timeline">TIMELINE</div>
                </a>
                <a href="/faq">
                    <div class="faq">FAQ</div>
                </a>
                
                
            </div>
        </div>
        <div id="rightbox">
            <div class="link"><a class="iframe-but" target="_blank" href="/exclusive">Click here to access the exclusive announcements page.</a></div>
            <iframe class="iframe" src="/abcdxyz" name="targetframe" allowTransparency="true" scrolling="yes" frameborder="0" ></iframe>
        </div>
        <div id="liteleftbox"></div>
        <div id="literightbox"></div>
    </div>