<%-include('./partials/header.ejs') %>
<h1 class="hype">What's PARADOX'22 ABOUT?</h1>

</header>

<div class="content">
    <p>We, the Students of BSc IIT Madras are elated to present to you the <b>first ever Annual Fest</b> of IIT Madras BSc Degree - <b>IITM Paradox'22.</b></p>
    <p>The excitement is already going through the roof. With an incredible line-up of workshops, industrial talks, artists for the nights and a plethora of innovative events like dance, music, open mic etc to show off your talents at the first annual
        techno-cultural fest of IIT Madras BSc Program is the place to be from the <b>20th to the 22nd of May, 2022.</b> The fest will make sure that you will be left wanting for more. Events lined up for Paradox'22 are the <b>
            professional talks, industrial
            workshops, cultural nights, sport events, presentation of best projects by diploma students
        </b> and the major highlight is the <b>distribution of diploma certificates for the first batch of students</b></p>
    <p>Join us on <b>20th of May</b> to celebrate the joy of a brilliant fest and the continuation of many more. Notch the technical skills from the <b>industrial talks and workshops</b> by experienced professors Prof. Karthik Raman, Prof. Ramkumar Rajendran,
        Prof. Nandan Sudarsanam, Prof. Nitin C. Watch our cultural teams dazzle us with their <b>captivating performances</b> and let us immerse ourselves in a mix of music, art, dance and sports in electrifying ambience, and the howls and the whoops
        of campuses.</p>
    <p><b>Tighten your seat belts, hold onto your breaths and get ready to unleash the gush of adrenaline for PARADOX'22</b></p>
</div>

<%-include('./partials/footer.ejs') %>