<%-include('./partials/header.ejs')%>

<div class="exe-container">
    <div class="exe-header">
        <h1>Exclusive Announcements</h1>
    </div>
    <div class="inner-cont">
        <div class="pic-exe"><img src="https://i.imgur.com/i4bQs2y.jpg" alt="dirctor of iitm"></div>
        <div class="cont-exe">
            <h2 class="h2-exe">An informal chat with our director</h2>
            <p class="p-exe">Our esteemed director is going to have an informal chat with us all in the Student Activity Center on 20th May at 10:30 AM. Hop in to </p>
        </div>
    </div>
</div>

<%-include('./partials/footer.ejs')%>