<%-include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/events.css">
<main id="events">
    <h1 class="page_title">Events</h1>
    <div class="page-content-main">
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Sports</h2>
                <a class="btn" href="/events/sports">View Events</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Cultural</h2>

                <a class="btn" href="/events/cultural">View Events</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Professional</h2>
                <a class="btn" href="/events/professional">View Events</a>
            </div>
        </div>
    </div>
</main>
<%-include('./partials/footer.ejs') %>