<%-include('./partials/header.ejs') %>
<div id="intro_bg">
    <div class="layer1"></div>
    <div class="layer2"></div>
</div>
<div id="preloader">
	<div class="curtain"></div>
</div>
<div id="one">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/AKmoccuRiN4"></iframe>
</div>
<div class="hold">
    <div class="idle">
        <p>Welcome <br> to the first ever tech fest conducted by IITM online degree students</p>
    </div>
    <div class="title">
        <div class="child">
            <h1 class="pd">PARADOX'22</h1>
        </div>
    </div>
</div>
<img class="arrw" src="/imgs/trailer button 2.png" alt="around teaser">
<div class="arrow">
    <p class="tea">Click here to watch teaser</p>
</div>
<%-include('./partials/footer.ejs') %>