<%-include('./partials/header.ejs') %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Login Form</title>
    </head>

    <body>
        <!-- <h1 class="noob">FEST HEADS</h1>
  <div class="main">
    <div class="container">
      <div class="gradient">
        <div class="cont">
          <h2>Ashwin <br> Hebbar</h2>
          <p>20 years,Karnataka,India</p>
          <p class="details">I am a digital marketing Manager working in Lisbon. I like to travel across the world</p>

        </div>
        <div class="icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="gradient">
        <div class="cont">
          <h2>Abul <br> Aman</h2>
          <p>20 years,,USA</p>
          <p class="details">I am a digital marketing Manager working in Lisbon. I like to travel across the world</p>

        </div>
        <div class="icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="gradient">
        <div class="cont">
          <h2>Abul <br> Aman</h2>
          <p>20 years,,USA</p>
          <p class="details">I am a digital marketing Manager working in Lisbon. I like to travel across the world</p>

        </div>
        <div class="icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="gradient">
        <div class="cont">
          <h2>Yuvraj <br> Sharma</h2>
          <p>20 years,New Delhi,India</p>
          <p class="details">adsf sdf sdf sdf sd</p>

        </div>
        <div class="icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>

    </div>
  </div> -->
  <h1 class="king">WEBSITE TEAM</h1>
  <div class="main">
    <div class="container">
      <div class="gradient">
        <div class="cont">
          <h2>Yuvraj <br> Sharma</h2>
          <p>20 years,New Delhi,India</p>
          <p class="details">adsf sdf sdf sdf sd</p>

        </div>
        <div class="icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="gradient">
        <div class="cont">
          <h2>Manish <br> Suresh</h2>
          <p>20 years,Tamilnadu,India</p>
          <p class="details">Just a bLanK homosapien</p>

        </div>
        <div class="icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>

    </div>
    
    <div class="container">
      <div class="gradient">
        <div class="cont">
          <h2>Ashwin <br> Hebbar</h2>
          <p>20 years,Karnataka,India</p>
          <p class="details">I am a digital marketing Manager working in Lisbon. I like to travel across the world</p>

        </div>
        <div class="icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="gradient">
        <div class="cont">
          <h2>Abul <br> Aman</h2>
          <p>21 years,Tamilnadu,India</p>
          <p class="details">I am a digital marketing Manager working in Lisbon. I like to travel across the world</p>

        </div>
        <div class="icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="gradient">
        <div class="cont">
          <h2>Harshanand <br> Sharma</h2>
          <p>27 years,Los Angeles,USA</p>
          <p class="details">I am a digital marketing Manager working in Lisbon. I like to travel across the world</p>

        </div>
        <div class="icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="gradient">
        <div class="cont">
          <h2>Ayush <br> Kumar</h2>
          <p>27 years,Los Angeles,USA</p>
          <p class="details">I am a digital marketing Manager working in Lisbon. I like to travel across the world</p>

        </div>
        <div class="icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="gradient">
        <div class="cont">
          <h2>Aryan <br> Mishra</h2>
          <p>27 years,Los Angeles,USA</p>
          <p class="details">I am a digital marketing Manager working in Lisbon. I like to travel across the world</p>

        </div>
        <div class="icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="gradient">
        <div class="cont">
          <h2>Hetav <br> Chauhan</h2>
          <p>27 years,Los Angeles,USA</p>
          <p class="details">I am a digital marketing Manager working in Lisbon. I like to travel across the world</p>

        </div>
        <div class="icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="gradient">
        <div class="cont">
          <h2>Nikhil <br>Issac</h2>
          <p>27 years,Los Angeles,USA</p>
          <p class="details">I am a digital marketing Manager working in Lisbon. I like to travel across the world</p>

        </div>
        <div class="icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>

    </div>
  </div>
</body>

</html>

<%-include('./partials/footer.ejs') %>
