<%-include('./partials/header.ejs') %>
    <!-- <div class="sesh-pre">
        <img src="./Title 09.gif" alt="preloader">
    </div> -->
    <!-- <div id="preloader">
        <div class="curtain"></div>
    </div> -->
        <div class="heading block-reveal">
            <span class="text-reveal">Text reveal effect</span>
        </div>
    <div class="wrapper">
        <section class="section sticky">
            <div class="gridview">
                <h1 class="workshop">WORKSHOP</h1>
                <div class="section-body">
                    <h1>Introduction to Network Biology</h1>
                    <p>In this workshop, participants will be introduced to the exciting science of networks, and how they find far-reaching applications in biology. Do you know, that the same algorithms used to suggest friends in Facebook, are also useful
                        in biology, to predict which proteins will interact? How do diseases such as COVID permeate through social contact networks? What are the groups of proteins that are involved in a disease? How can we identify novel pathways to
                        synthesis drugs and other chemicals?p>
                        <h3>--By Professor Karthik Raman</h3>
                </div>
            </div>
        </section>
        <section class="section sticky">
            <div class="gridview">
                <h1 class="workshop">WORKSHOP</h1>
                <div class="section-body">
                    <h1>Machine Learning in Medical Imaging</h1>
                    <p>The session will provide an introduction to problems in medical image analysis. Students will learn about different types of medical imaging systems and the types of images acquired using the same. They will learn how techniques in
                        linear algebra, statistics and ML can be applied to solve problems arising in medical imaging analysis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias commodi ducimus ipsam, culpa quam voluptates provident qui.</p>
                    <h3>-- By Professor Ganapathy</h3>
                </div>
            </div>
        </section>
        <section class="section sticky">
            <div class="gridview">
                <h1 class="workshop">WORKSHOP</h1>
                <div class="section-body">
                    <h1>The Power of Pipelines</h1>
                    <p>A core element of the Unix philosophy is to favour simple and modular programs that can then be used to compose larger and more complex programs by constructing so-called "pipelines". This basic idea can be generalized to the concept
                        of task graphs and scheduling, which has applications across several domains of interest. This also leads to interesting applications of the ideas of functional programming and analysis.</p>
                    <p>In this talk, we will look at several examples of how the concept of pipelines can be generalized from the command line all the way to the design of high performance hardware, and present some pointers for further study.</p>

                    <h3>-- By Professor Nitin C.</h3>
                </div>
            </div>
        </section>
        <section class="section sticky">
            <div class="gridview">
                <h1 class="workshop">WORKSHOP</h1>
                <div class="section-body">
                    <h1>Learning Analytics: Aplcn. of LA in Higher Education</h1>
                    <p>In this talk, we introduce how to apply data analytics in the education domain. We will provide an overview of how Artificial Intelligence and Machine Learning Algorithms can be applied to the data from the educational domain to provide
                        better teaching-learning experiences. We will explore a few examples of how learning analytics can be applied to data from different learning environments like classrooms, and online and intelligent tutoring systems. In the end,
                        we will discuss the research works in LA at ET-IITB.</p>
                    <h3>--By Professor Ramkumar Rajendran</h3>
                </div>
            </div>
        </section>
        
        <section class="section sticky">
            <div class="gridview">
                <h1 class="workshop">WORKSHOP</h1>
                <div class="section-body">
                    <h1>Solving Puzzles with Python</h1>
                    <p>We will discuss some fun puzzles and see how scripting can help with making progress on a problem — by generating examples/simulations to discover patterns and develop our intuition.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum beatae necessitatibus cumque, quia, dignissimos aspernatur sed repudiandae nesciunt obcaecati itaque voluptatibus velit quis quasi, magni modi iusto libero non harum distinctio
                        corporis delectus labore impedit ducimus consequuntur! Assumenda, aspernatur cum. Numquam temporibus sint optio..</p>
                    <h3>--By Professor Neeldhara</h3>
                </div>
            </div>
        </section>
        <section class="section sticky">
            <div class="gridview">
                <h1 class="workshop">WORKSHOP</h1>
                <div class="section-body">
                    <h1>Machine Learning in Jax</h1>
                    <p>As part of this workshop, we will cover Jax, which is a machine learning library developed by Google. JAX is NumPy on the CPU, GPU, and TPU, with great automatic differentiation for high-performance machine learning research. We will
                        learn the basics of the Jax API. We will train a neural network model written in Jax as part of hands-on experience of this workshop. We will also implement logistic regression from scratch.

                    </p>
                    <p>You need to bring your laptop for hands-on exercises in the workshop. We will use colab as a front end for coding.

                    </p>
                    <h3>--By Professor Ashish Tendulkar</h3>
                </div>
            </div>
        </section>
        <section class="section sticky">
            <div class="gridview">
                <h1 class="workshop">WORKSHOP</h1>
                <div class="section-body">
                    <h1>EigenFaces: Dimensionality Matters in Machine Learning</h1>
                    <p>The short workshop will introduce the idea of representation learning and discuss the mathematics behind a classical algorithm called principal component analysis. As a concrete real world application, the algorithm's performance on
                        a face detection problem will be explained.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum beatae necessitatibus cumque, quia, dignissimos aspernatur sed repudiandae nesciunt obcaecati itaque voluptatibus velit quis quasi, magni modi iusto libero. </p>
                    <h3>--By Professor Arun Rajkumar</h3>
                </div>
            </div>
        </section>
        <section class="section sticky">
            <div class="gridview">
                <h1 class="workshop">WORKSHOP</h1>
                <div class="section-body">
                    <h1>The Wisdom of the Many: Ensemble Methods in Machine Learning</h1>
                    <p>Machine learning has enabled a rediscovery of an old adage. Combining multiple "weaker" models is often far superior to complex models. This manifests in two distinct ways: 1. Parallel learning of individual weak models combined via
                        majority voting, 2. Sequential learning of weak models, each additional model focusing on the weaknesses of previous models. We will take an elementary peek into both these paradigms, in which multiple models are combined to make
                        a more powerful model.
                    </p>
                    <h3>--By Professor Harish Guruprasad</h3>
                </div>
            </div>
        </section>
        <section class="section sticky">

            <div class="gridview">
                <h1 class="session">SESSION</h1>
                <div class="section-body">
                    <h1>BSc student workflow application and Seek application</h1>
                    <p>Details Coming Soon!!
                    </p>
                    <h3>-- By Thejesh Sir and Sasidharan Sir</h3>
                </div>
            </div>

        </section>
        <section class="section sticky">
            <div class="gridview">
                <h1 class="workshop">WORKSHOP</h1>
                <div class="section-body">
                    <h1>Experimentation in machine Learning</h1>
                    <p>Details Coming soon!!</p>
                    <h3>--By Professor Nanda Sudarshan</h3>
                </div>
            </div>
        </section>
    </div>

    <%-include('./partials/footer.ejs') %>
