<%-include('./partials/header.ejs') %>
<div id="sponhead">
    <div class="spon">
        <h1>SPONSORS</h1>
    </div>
    <div class="thespon">
        <div class="rows1">
            <div class="sp"></div>
            <div class="sp"></div>
            <div class="sp"></div>
            <div class="sp"></div>
            <div class="sp"></div>
            <div class="sp"></div>
        </div>
        <div class="rows2">
            <div class="sp"></div>
            <div class="sp"></div>
        </div>
        <div class="rows3">
            <div class="sp"></div>
            <div class="sp"></div>
            <div class="sp"></div>
            <div class="sp"></div>
            <div class="sp"></div>
            <div class="sp"></div>
            <div class="sp"></div>
            <div class="sp"></div>
    </div>
</div>
<%-include('./partials/footer.ejs') %>