<%-include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/sponsors.css">
<div id="preloader">
	<div class="curtain"></div>
</div>
<div id="sponhead">
    <div class="spon">
        <h1>SPONSORS</h1>
    </div>
    <div class="thespon">
        <div class="columns">
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
        </div>    
    </div>
</div>
<%-include('./partials/footer.ejs') %>