<%-include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/sponsors.css">
<div id="sponhead">
    <div class="spon">
        <h1>SPONSORS</h1>
    </div>
    <div class="therows">
        <div>
            <h2 style="text-align: center;">Title Sponsor</h2>
            <div class="rows1">
                <div class="sp1 tg-anal">
                    <a href="https://www.tigeranalytics.com" target="_blank">
                        <img src="./imgs/sponsor-assets/tiger-analytics-companyupdate-1644024879355.png" alt="sponsor celo logo" />
                    </a>
                </div>
                <div class="sp1 tg-anal-txt">
                    <p>
                        <a class="tg-anal-a" href="https://www.tigeranalytics.com/">Tiger Analytics</a> is pioneering what AI and analytics can do to solve some of the toughest problems faced by organizations globally. We develop bespoke solutions powered by data and technology for several Fortune 500 companies. We have offices in multiple cities across the US, UK, India, and Singapore, and a substantial remote global workforce.<br><br><br>
                        Tiger Analytics have received multiple awards ranging from being recognized as a Leader by Forrester Research to being ranked among the fastest-growing tech companies by Inc. and Financial Times. We consistently get featured in prestigious 'Best Analytics Firms' lists.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <h2 style="text-align: center;">Event Sponsors</h2>
            <div class="rows2">
                <div class="sp">
                    <a href="https://www.google.com/search?client=safari&rls=en&q=techmahindra&ie=UTF-8&oe=UTF-8" target="_blank">
                        <img src="./imgs/sponsor-assets/techmahindra.png" alt="Tech Mahindra logo">
                    </a>
                </div>
                <div class="sp">
                    <a href="https://celo.org" target="_blank">
                        <img src="./imgs/sponsor-assets/Celo_Logo_White.png" alt="sponsor celo logo">
                    </a>
                </div>
                <div class="sp">
                    <a href="https://devfolio.co" target="_blank">
                        <img src="./imgs/sponsor-assets/Devfolio_Logo-White.svg" alt="sponsor celo logo">
                    </a>
                </div>
                <div class="sp">
                    <a href="https://filecoin.io" target="_blank">
                        <img src="./imgs/sponsor-assets/Filecoin_Logo_White.png" alt="sponsor celo logo">
                    </a>
                </div>
                <div class="sp">
                    <a href="" target="_blank">
                        <img src="./imgs/sponsor-assets/market.png" alt="sponsor celo logo">
                    </a>
                </div>
                <div class="sp">
                    <a href="https://polygon.technology" target="_blank">
                        <img src="./imgs/sponsor-assets/Polygon_Logo-White.png" alt="sponsor celo logo">
                    </a>
                </div>
                <div class="sp">
                    <a href="https://tezos.com" target="_blank">
                        <img src="./imgs/sponsor-assets/Tezos_Logo-White.png" alt="sponsor celo logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include('./partials/footer.ejs') %>