<%-include('./partials/header.ejs') %>

<div class="exe-container">
    <div class="exe-header">
        <h1>Important Sessions</h1>
    </div>
    <div class="inner-conte">
        <div class="pic-exe"></div>
        <div class="cont-exe">
            <h2 class="h2-exe">Placement Cell Interaction</h2>
            <p class="pe-exe">Time: 09:00am - 09:30am <br> Venue: Student Activity Center</p>
        </div>
    </div>
    <div class="inner-conte">
        <div class="pic-exe"></div>
        <div class="cont-exe">
            <h2 class="h2-exe">Session on E - Cell</h2>
            <p class="pe-exe">Time: 09:30am - 10:00am <br> Done By: Prof. Ashwin Mahalingam <br> Venue: Student Activity
                Center</p>
        </div>
    </div>
    <div class="inner-conte">
        <div class="pic-exe"></div>
        <div class="cont-exe">
            <h2 class="h2-exe">Data Science Presentation</h2>
            <p class="pe-exe">Time: 10:00am - 10:15am <br> Done By: Mr.Karthik Ragunathan <br> Venue: Student Activity
                Center</p>
        </div>
    </div>
    <div class="inner-conte">
        <div class="pic-exe"></div>
        <div class="cont-exe">
            <h2 class="h2-exe">IITM Research Park & IITM Incubation Cell</h2>
            <p class="pe-exe">Time: 10:15am - 11:00am <br> Done By: Mr.Karthik Ragunathan<br> Venue: Student Activity
                Center</p>
        </div>
    </div>
    <div class="inner-conte">
        <div class="pic-exe"></div>
        <div class="cont-exe">
            <h2 class="h2-exe">Panel Discussion - Is Data the eternal fuel?</h2>
            <p class="pe-exe"> Panelists: <br>1) Dr.Subramani Ramakrishnan, Director, Workforce Management,
                IBM Client InnovationCenter - India<br>2) Mr. Ramanathan Ramakrishnan, VP - Customer andEngineering
                Quality, Renault NissanTechnology and Business Center, India
                <br>3) Dr. Ravishankar Balasubramanian - Director, DataScience,
                Walmart Global TechIndia<br>4) Mr. Rajeswaran V, Director, Capgemini <br>Mr. Bharadwaj KVK, Practice Head-
                Google AI & Analytics
                Practice, TCS <br>5) Mr. GaneshSankaralingam, Director, Latentview Analytics <br><br>Moderator: Prof.
                Balaji Srinivasan <br><br>Time: 11:00am - 12:00pm <br><br> Venue: Student Activity Center</p>
        </div>
    </div>
    <div class="inner-conte">
        <div class="pic-exe"></div>
        <div class="cont-exe">
            <h2 class="h2-exe">Career in Programming & Data Science <br> - Q&A Session with students
            </h2>
            <p class="pe-exe">1) Mr. Ravi Pandikunta, Delivery Head & DigitalEnterprise Architect,
                Data Analytics & AI, Tech Mahindra. <br>2) Mr. A VictorSundararaj, Head, InfosysEngineering Academy &
                Mentor - InfosysSpringboard Program <br>3) Mr. V Manigandan, Practice Lead -Engineering, Group Data and
                Analytics Cell, Aditya Birla Management Corporation Pvt Ltd.
                <br>4) Mr. Biju PuthalathThazha Kuniyil, Head - DigitalSolutions
                Platforms & Applications, L&T Construction, Power Transmission
                & Distribution <br>5) Mr. VivekSundararaman- Director, People Operations, Tiger
                Analytics <br>6) Ms. Aishwarya B,Senior Manager, DataEngineering, Walmart
                Labs India <br><br> Time: 12:00pm - 01:00pm <br> Done By: Mr.Karthik Ragunathan<br> Venue: Student
                Activity Center</p>
        </div>
    </div>
    <div class="exe-header">
        <h1>Exclusive Industry Interaction Session</h1>
    </div>
    <div class="inner-conte">
        <div class="pic-exe"></div>
        <div class="cont-exe">
            <h2 class="h2-exe">Mr. Ravi Pandikunta <br> Delivery Head & DigitalEnterprise Architect <br>
                Data Analytics & AI <br> Tech Mahindra
                </h2>
            <p class="pe-exe">Time: 02:00pm - 02:30pm </p>
        </div>
    </div>
    <div class="inner-conte">
        <div class="pic-exe"></div>
        <div class="cont-exe">
            <h2 class="h2-exe">Mr. GaneshSankaralingam <br> Director <br> Latentview Analytics
                </h2>
            <p class="pe-exe">Time: 02:30pm - 03:00pm </p>
        </div>
    </div>
    <div class="inner-conte">
        <div class="pic-exe"></div>
        <div class="cont-exe">
            <h2 class="h2-exe">Mr. Bharadwaj KVK <br> Practice Head <br> Google AI & Analytics
                Practice, TCS
                
                </h2>
            <p class="pe-exe">Time: 03:00pm - 03:30pm</p>
        </div>
    </div>
    <div class="inner-conte">
        <div class="pic-exe"></div>
        <div class="cont-exe">
            <h2 class="h2-exe">Mr. V Manigandan <br> Practice Lead - Engineering <br> Group Data and
                Analytics Cell <br> Aditya Birla Management Corporation Pvt Ltd.
                
                
                </h2>
            <p class="pe-exe">Time: 03:30pm - 04:00pm </p>
        </div>
    </div>
    <div class="inner-conte">
        <div class="pic-exe"></div>
        <div class="cont-exe">
            <h2 class="h2-exe">Mr. A VictorSundararaj <br> Head <br> InfosysEngineering Academy &
                Mentor <br> InfosysSpringboard Program.
                </h2>
            <p class="pe-exe">Time: 03:00pm - 04:30pm </p>
        </div>
    </div>
</div>

<%-include('./partials/footer.ejs') %>