<%-include('./partials/header.ejs') %>
<header class="spoop">
    <h1 class="tits">Agenda</h1>
</header>
<main id="timeline">
    <div>
        <h3>Download the latest version of the agenda by clicking the button below.</h3>
        <a href="https://docs.google.com/document/d/1Ol3H3V2SOiyLmxSJtgQyVeno1XJax4aiA-SrLuy6WMc/edit?usp=sharing" target="_blank" class="btn" style="display: block;">View agenda</a>
        <div>
            <small>Secret note: To see the contents, use your student email.</small>
        </div>
    </div>
</main>
<!-- <div class="desktop">
    <div class="date-grp">
        <a href="#day1" class="date active" data-tab-target="#day1">MAY 20</a>
        <a href="#day2" class="date" data-tab-target="#day2">MAY 21</a>
        <a href="#day3" class="date" data-tab-target="#day3">MAY 22</a>
    </div>
</div>
<div class="cont">
    <div class="mobile">
        <a href="#day1-mobile" class="date active" data-tab-target="#day1-mobile">MAY 20 </a>
        <a href="#day2-mobile" class="date" data-tab-target="#day2-mobile">MAY 21</a>
        <a href="#day3-mobile" class="date" data-tab-target="#day3-mobile">MAY 22</a>
    
    </div>
</div> -->

<!-- <div class="flex">
    <div class="desktop">
        <img src="/imgs/Paradox May 20.jpg" alt="" class="time-line active" id="day1" data-tab-content>
        <img src="/imgs/Paradox May 21.jpg" alt="" class="time-line" id="day2" data-tab-content>
        <img src="/imgs/Paradox May 22.jpg" alt="" class="time-line" id="day3" data-tab-content>
    </div>
    <div class="mobile">
        <img src="/imgs/Paradox May 20.jpg" alt="" class="time-line active" id="day1-mobile" data-tab-content>
        <img src="/imgs/Paradox May 21.jpg" alt="" class="time-line" id="day2-mobile" data-tab-content>
        <img src="/imgs/Paradox May 22.jpg" alt="" class="time-line" id="day3-mobile" data-tab-content>
    </div>
</div> -->

<!-- <script src="/js/timeline.js"></script> -->
<%-include('./partials/footer.ejs') %>