.exe-container{
    padding-top:4em;
    height:100vh;
    width:100vw;
}
.exe-header{
    text-align:center;
}
.inner-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    justify-items: center;
    align-content: center;
}
.the-link{
    font-family: 'Work Sans';
}
.inner-conte{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    align-content: center;
}
.pic-exe img{
    width:400px;
    height:400px;
}
.pic-exe{
    justify-self: center;
    align-self: center;
}
.pe-exe{
    font-weight: bold;
}
@media only screen and (max-width: 912px){
    .inner-cont{
        grid-template-columns:1fr;
    }
}
@media only screen and (max-width: 480px){
    .inner-cont{
        grid-template-columns:1fr;
        padding: 0;
    }
    .inner-conte{
        grid-template-columns:1fr;
        padding: 0;
        justify-items: center;
        align-content: center;
    }
    .pic-exe img{
        width:auto;
    }
}