<%-include('./partials/header.ejs') %>
<div class="wp"></div>
    

        <div class="col2">
            <h2 style="font-weight: bold;">Beyond The Words</h2>

            <ul class="option-list">
                <li><a id="btn1" onclick="showAbout()">About</a></li>
                <!-- <li><a id="btn2" onclick="showStruct()">Structure</a></li> -->
                <li><a id="btn3" onclick="showTime()">Timeline</a></li>
                <li><a id="btn4" onclick="showFaq()">FAQs</a></li>
                <li><a id="btn5" onclick="showRule()">Rules</a></li>
                <li><a id="btn6" onclick="showContact()">Contact Us</a></li>
            </ul>

            <div id="about" class="container">
                <h2 style="font-weight: bold;">About</h2>
                <p style="color: #ebe0e0;">To share your feelings and emotions of experiences, pain, blessings, and happy moments 
                    in a form of words, like pure artwork, which melts the hearts of people as well as makes 
                    them smile, and remember this evening forever.<br>
                    We are inviting performers to represent their artwork to people and dive deep into their 
                    memories and heart. We would love to take your registration for our beautiful event, 
                    where you will perform in front of the epic gathering of a massive audience and live the 
                    moment onstage collecting a few lifelong memories.
                    <br><br>
                    <b>-Team Beyond The Words</b>
                    </p>
            </div>

            <div id="struct" class="container" style="display:none;">
                <h2 style="font-weight: bold;">Structure</h2>
                <p style="color: #ebe0e0;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                    perspiciatis officia alias cupiditate eum doloribus necessitatibus laudantium numquam, deleniti et
                    quasi, delectus error quod sint, quos optio rerum? Quod sequi iste doloribus illo esse, pariatur
                    quae similique ratione! Eos error quibusdam molestiae veritatis est voluptate porro, adipisci velit
                    voluptatum beatae.</p>
            </div>

            <div id="time" class="container" style="display:none;">
                <h2 style="font-weight: bold;">Timeline</h2>
                <p style="color: #ebe0e0;">
                    <b>Date and Time: </b><br>20th May, 03:00pm-05:00pm<br><br><b>Venues:</b><br><br><b>Preliminary Round -</b>20/05/2022<br><b>FINALE -</b> 21/05/2022<br><b>Student Activity Center (SAC)</b>
                </p>
            </div>

            <div id="faq" class="container" style="display:none;">
                <h2 style="font-weight: bold;">FAQs</h2>
                <p style="color: #ebe0e0;">
                    <b>Q1. How can I be a part of any event?</b><br><br>
                    <b>Ans.</b> If you have registered, you can be a participant, or can enjoy & learn as an audience.<br><br> 
                    <b>Q2. How do I navigate the Campus for my event?</b><br><br> 
                    <b>Ans.</b> There is a Campus Map for IITM at the official website of IITM Paradox: <a href="https://sites.google.com/student.onlinedegree.iitm.ac.in/paradox22/home?authuser=2">Click Me
                    </a><br><br>
                    <b>Q3. Are the schedules on the website relating to every event subject to change?</b><br><br> 
                    <b>Ans.</b> Yes, they might change. We’ll keep the website updated for your reference.<br><br> 
                    <b>Q4. Can I register on-spot for the events?</b><br><br>
                    <b>Ans.</b> This depends on the event you wish to register for. Kindly refer the same on our official 
                    website of IITM Paradox: <a href="https://sites.google.com/student.onlinedegree.iitm.ac.in/paradox22/home?authuser=2">Click Me
                    </a><br><br>
                    <b>Q5. Will I receive certificates for participating in these events?</b><br><br> 
                    <b>Ans.</b> Yes, you will receive a certificate for participating in these events<br>
                </p>
            </div>

            <div id="rule" class="container" style="display:none;">
                <h2 style="font-weight: bold;">Rules</h2>
                <p style="color: #ebe0e0;">
                    <b>1.</b> Make sure that you are on time for every event to make the most out of it!<br><br> 
                    <b>2.</b> Do not skip or miss an event & inform the IITM Paradox team if you have to <b>(in case of any 
                    emergency)</b><br><br> 
                    <b>3.</b> Keep your phones, belongings etc. at a safe place while participating, IITM Paradox will not be 
                    responsible for the same.<br><br> 
                    <b>4.</b> Please listen to the directions of each & every event carefully & then proceed accordingly.<br><br> 
                    <b>5.</b> We expect you to cheer & applaud appropriately whenever required to encourage the 
                    participants!<br><br> 
                    <b>6.</b> Respect the faculty & your fellow IITians at all times.<br><br> 
                    <b>7.</b> Do not indulge in malpractice of any sort in any of the events. Let’s have a fun & fair competition!<br><br> 
                    <b>8.</b> Do not litter & take care of the campus surroundings as your own!<br><br> 
                    <b>9.</b> Stay hydrated & ask for any medical help/assistant if required.<br><br> 
                    <b>10.</b> Don’t hesitate to ask for our help at any point of time!<br><br>
                </p>
            </div>

            <div id="contact" class="container" style="display:none;">
                <h2 style="font-weight: bold;">Contact</h2>
                <p style="color: #ebe0e0;">
                    <b>Ayush Rai (EVENT HEAD)</b><br><br> 
                    <a href="mailto:21f3000285@student.onlinedegree.ittm.ac.in">21f3000285@student.onlinedegree.ittm.ac.in</a><br><br>
                    <b>Support Team (PARADOX'22)</b><br><br> 
                    <a href="mailto:@paradox@onlinedegree.iitm.ac.in" style="color:#ebe0e0;" >paradox@onlinedegree.iitm.ac.in</a>
                </p>
            </div>

            <ul class="option-list-small">
                <li>
                    <a id="sbtn1" onclick="sshowAbout()">About</a>
                    <p id="c1" style="color: #ebe0e0;">To share your feelings and emotions of experiences, pain, blessings, and happy moments 
                        in a form of words, like pure artwork, which melts the hearts of people as well as makes 
                        them smile, and remember this evening forever.<br>
                        We are inviting performers to represent their artwork to people and dive deep into their 
                        memories and heart. We would love to take your registration for our beautiful event, 
                        where you will perform in front of the epic gathering of a massive audience and live the 
                        moment onstage collecting a few lifelong memories.
                        <br><br>
                        <b>-Team Beyond The Words</b>
                    </p>
                </li>

                <li style="display:none;">
                    <a id="sbtn2" onclick="sshowStruct()">Structure</a>
                    <p id="c2" style="color: #ebe0e0;">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Recusandae perspiciatis officia alias cupiditate eum doloribus necessitatibus laudantium
                        numquam, deleniti et quasi, delectus error quod sint, quos optio rerum? Quod sequi iste
                        doloribus illo esse, pariatur quae similique ratione! Eos error quibusdam molestiae veritatis
                        est voluptate porro, adipisci velit voluptatum beatae.</p>
                </li>

                <li>
                    <a id="sbtn3" onclick="sshowTime()">Timeline</a>
                    <p id="c3" style="color: #ebe0e0;">
                        <b>Date and Time: </b><br>20th May, 03:00pm-05:00pm<br><br><b>Venues:</b><br><br><b>Preliminary Round -</b>20/05/2022<br><b>FINALE -</b> 21/05/2022<br><b>Student Activity Center (SAC)</b>
                    </p>
                </li>

                <li>
                    <a id="sbtn4" onclick="sshowFaq()">FAQs</a>
                    <p id="c4" style="color: #ebe0e0;">
                        <b>Q1. How can I be a part of any event?</b><br><br>
                        <b>Ans.</b> If you have registered, you can be a participant, or can enjoy & learn as an audience.<br><br> 
                        <b>Q2. How do I navigate the Campus for my event?</b><br><br> 
                        <b>Ans.</b> There is a Campus Map for IITM at the official website of IITM Paradox: <a href="https://sites.google.com/student.onlinedegree.iitm.ac.in/paradox22/home?authuser=2">Click Me
                        </a><br><br>
                        <b>Q3. Are the schedules on the website relating to every event subject to change?</b><br><br> 
                        <b>Ans.</b> Yes, they might change. We’ll keep the website updated for your reference.<br><br> 
                        <b>Q4. Can I register on-spot for the events?</b><br><br>
                        <b>Ans.</b> This depends on the event you wish to register for. Kindly refer the same on our official 
                        website of IITM Paradox: <a href="https://sites.google.com/student.onlinedegree.iitm.ac.in/paradox22/home?authuser=2">Click Me
                        </a><br><br>
                        <b>Q5. Will I receive certificates for participating in these events?</b><br><br> 
                        <b>Ans.</b> Yes, you will receive a certificate for participating in these events<br>
                    </p>
                </li>

                <li>
                    <a id="sbtn5" onclick="sshowRule()">Rules</a>
                    <p id="c5" style="color: #ebe0e0;"><b>1.</b> Make sure that you are on time for every event to make the most out of it!<br><br> 
                        <b>2.</b> Do not skip or miss an event & inform the IITM Paradox team if you have to <b>(in case of any 
                        emergency)</b><br><br> 
                        <b>3.</b> Keep your phones, belongings etc. at a safe place while participating, IITM Paradox will not be 
                        responsible for the same.<br><br> 
                        <b>4.</b> Please listen to the directions of each & every event carefully & then proceed accordingly.<br><br> 
                        <b>5.</b> We expect you to cheer & applaud appropriately whenever required to encourage the 
                        participants!<br><br> 
                        <b>6.</b> Respect the faculty & your fellow IITians at all times.<br><br> 
                        <b>7.</b> Do not indulge in malpractice of any sort in any of the events. Let’s have a fun & fair competition!<br><br> 
                        <b>8.</b> Do not litter & take care of the campus surroundings as your own!<br><br> 
                        <b>9.</b> Stay hydrated & ask for any medical help/assistant if required.<br><br> 
                        <b>10.</b> Don’t hesitate to ask for our help at any point of time!<br><br></p>
                </li>

                <li>
                    <a id="sbtn6" onclick="sshowContact()">Contact Us</a>
                    <p id="c6" style="color: #ebe0e0;">
                        <b>Ayush Rai (EVENT HEAD)</b><br><br> 
                        <a href="mailto:21f3000285@student.onlinedegree.ittm.ac.in">21f3000285@student.onlinedegree.ittm.ac.in</a><br><br>
                        <b>Support Team (PARADOX'22)</b><br><br> 
                        <a href="mailto:@paradox@onlinedegree.iitm.ac.in" style="color:#ebe0e0;" >paradox@onlinedegree.iitm.ac.in</a>
                    </p>
                </li>
            </ul>

        

    </div>


<%-include('./partials/footer.ejs') %>